@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}