.homepage {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(145.16deg, #141919 36.99%, #EF6F13 412.44%);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 4rem;

  @media(max-width: 375px) {
    display: block;
    height: auto;
    padding: 2rem;
  }

  .description {
    min-width: 450px;
    max-width: 550px;
    overflow: hidden;
    margin-right: 7rem;

    @media(max-width: 375px) {
      min-width: 300px;
      max-width: 300px;
    }

    h1 {
      color: #EF6F13;
      font-size: 3rem;
      margin-bottom: .5rem;

      @media(max-width: 375px) {
        font-size: 2rem;
      }
    }

    p {
      margin-bottom: 2rem;
      color: white;
    } 
    button {
      background-image: linear-gradient(162.75deg, #141919 -23.51%, #EF6F13 273.27%);
      border: none;
      color: white;
      padding: .5rem 1rem;
      font-size: 1rem;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }



  .bmi {
    min-width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
  

    a {
      text-decoration: none;
      color: black;

      .bmi_container {
        position: absolute;
        top: 40%;
        border-radius: .5rem;
        text-align: center;
        min-width: 50px;
        background-color: white;
        padding: 1rem;
        z-index: 1;
  
      }
      .bmi_container > :nth-child(1) {
        margin-bottom: 1rem;
      }
      .bmi_container > :nth-child(3) {
        color: #EF6F13;
        font-size: 2rem;
      }
    }

    .exercises {
      border-radius: .8rem;
      position: absolute;
      top: 10%;
      left: 25rem;
      background-color: white;
      min-width: 250px;
      padding: .5rem;
      text-align: center;

      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        h2 {
          font-size: 1rem;
        }
      }

      .options {
        display: grid;
        grid-template-columns: repeat(3, 90px);
        gap: .5rem;

        .op1 {
          background-image: linear-gradient(180deg, #141919 0%, #2A2118 64.58%);
          border-radius: 1rem;
          color: white;
          font-size: .7rem;
          padding: .5rem;
        }
      }
    }
  }
  .bmi::after {
    position: absolute;
    content: "";
    background-image: url("../../assets/model-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 550px;
    height: 90%;
    top: 5%;
    left: 10%;

    @media(max-width: 375px) {
      left: 0;
      min-width: 340px;
    }
  }
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url("../../assets/Aktibbb-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 950px;
  height: 600px;
}

